# ENV
NODE_ENV=development

# SERVER PORT
PORT=5000

# CLIENT URL
CLIENT_URL=http://localhost:3000

# JWT
JWT_SECRET=your_jwt_secret_key

# LINKEDIN ENV'S
LINKEDIN_CLIENT_ID=your_linkedin_client_id
LINKEDIN_CLIENT_SECRET=your_linkedin_client_secret
LINKEDIN_REDIRECT_URI=your_linkedin_redirect_uri
LINKEDIN_STATE=your_linkedin_state